<?xml version="1.0"?>

<!--Dashboard Event Details +Add Event
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  
  <connectionStrings>
    <add name="con" connectionString="Data Source=KIRAN\SQLEXPRESS;Initial Catalog=mydatabase;Integrated Security=True"
      providerName=".NET Framework Data Provider for SQL Server" />
    
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime targetFramework="4.5" maxQueryStringLength="4096"/>
    <!--<httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>-->
    <sessionState cookieless="true" regenerateExpiredSessionId="true"/>

    <authentication mode="Forms">
      <forms name=".loginpage" loginUrl="Login.aspx" defaultUrl="Home.aspx" protection="All"  path="/" timeout="30"/>
    </authentication>
    

     

      <!--<authorization>
        <deny users="*"/>
      </authorization>-->

    
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>

    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>

  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="4096"></requestLimits>
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false"/>
    <!--<modules>
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"
        preCondition="managedHandler"/>
    </modules>-->
 
     <!--<modules runAllManagedModulesForAllRequests="true"/>-->
  </system.webServer>
</configuration>
